# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**               
* Popular Languages used by Data Scientists
* Commonly used libraries used by Data Scientists
* Data Science tools
* A simple arithmetic expression to multiply then add integers.
* Code to convert 200 minutes to hour

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Pandas
3. Numpy 
4. Scify

Ex 6:-Development environment open source tools used in data science:-

|Data Science tools|
|------------------|
|RStudio           |
|Apache Spark      |
|TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
a=3
b=4
print(a+b)
print(a*b)
print(a/b)
print(a-b)

7
12
0.75
-1

In [3]:
#Ex8
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [8]:
#Ex9
#This will convert 200 minutes to hours by diving by 60
a=200
print("The foll output is in hours:",a/60)

The foll output is in hours: 3.3333333333333335